* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  text-decoration: none;
  color: #2d2d2d;
}
body {
  background-color: #d1d3c8;
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
h1 {
  text-align: center;
  letter-spacing: 0.2em;
  font-size: 2.5em;
}
p {
  font-size: 1.1em;
  letter-spacing: 0.1em;
}
footer {
  background-color: #343434;
  min-height: 50px;
  text-align: center;
}
footer h6 {
  color:#ffffff
}